# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
*.egg
*.whl

# Môi trường ảo (Virtual Environment) - RẤT QUAN TRỌNG
moitruongao/
venv/
env/

# File hệ thống (system files)
.DS_Store  # macOS
Thumbs.db  # Windows


# File log
*.log

# File tạm của IDE/Text Editor
.vscode/
.idea/

# File đã tạo của chương trình
memory/
